<div class="row">
    <div class="col-12">
        <button class="btn btn-primary">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">

        <div class="list-group">

            <a href="#" class="list-group-item  clearfix" *ngFor="let recipe of recipes">
                <div class="text-left">
                    <h4> {{ recipe.name}}</h4>
                    <p> {{recipe.description}}</p>
                </div>
                <span class="text-right">
                    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid img-thumbnail w-25">

                </span>
            </a>
        </div>

        <app-recipe-item></app-recipe-item>
    </div>
</div>